/* styles/Dashboard.module.css */

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .phone {
    margin-bottom: 1rem;
  }
  /* styles/Dashboard.module.css */

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Take full viewport height */
  margin-left: 250px; /* Match sidebar width */
}

.loadingText {
  font-size: 24px;
  font-weight: bold;
}

.dashboardContent {
  padding: 20px;
}